.movieCard {
  border: 2px solid rgb(125, 105, 105);
  width: 225px;
  margin: 20px;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.movieCard:hover {
  transform: scale(1.03);
  transition: 0.3s ease;
  box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

h3,
p {
  color: white;
  padding: 5px;
}

img {
  width: 100%;
}

.movieCard button {
  align-self: first baseline;
  position: absolute;
  bottom: 2%;
  left: 0;
}

.movieCard button {
  align-self: first baseline;
  position: absolute;
  bottom: 2%;
  left: 0;
}

.movieCard #Fav {
  align-self: first baseline;
  position: absolute;
  bottom: 2%;
  left: 0;
  color: goldenrod;
}

.movieCard #notFav {
  align-self: first baseline;
  position: absolute;
  bottom: 2%;
  left: 0;
  color: white;
}

.movieCard #check {
  align-self: first baseline;
  position: absolute;
  padding: 3px;
  padding-inline: 8px;
  bottom: 10%;
  left: 0;
  color: rgb(247, 249, 247);
}

.movieCard #check2 {
  align-self: first baseline;
  position: absolute;
  padding: 3px;
  padding-inline: 8px;
  bottom: 10%;
  left: 0;
  color: #1fd61f;
}

@media (max-width: 600px) {
  .movieCard {
    transform: scale(0.8);
  }
  h3,
  p {
    font-size: 50%;
  }
  .movieCard #check2,
  .movieCard #check,
  .movieCard #notFav,
  .movieCard #Fav {
    transform: scale(0.5);
  }
}
