.movieCard {
  border: 2px solid rgb(125, 105, 105);
  width: 225px;
  margin: 20px;
  transition: transform 0.3s ease;
}

.movieCard:hover {
  transform: scale(1.05);
  transition: 0.3s ease;
  cursor: pointer;
}

h3,
p {
  color: white;
  padding: 5px;
}

img {
  width: 100%;
}

@keyframes modalAnimation {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
