.App {
  text-align: center;
  background-color: black;
  min-height: 100vh;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

h1 {
  color: rgb(13, 13, 12);
  padding: 20px;
  margin: 0;
  background: linear-gradient(-45deg, #cbbeba, #dad4d6, #eef1f2, #edf0ef);
  background-size: 500%;
  animation: gradient 10s ease infinite;
  font-family: "Brush Script MT", cursive;
  font-size: 40px;
}

#banner {
  font-family: "Brush Script MT", cursive;
  font-size: 30px;
  padding: 0;
  margin: 20px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

header {
  background-color: rgb(254, 252, 252);
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}

#more-button {
  margin-bottom: 30px;
}

.movie-details {
  animation: modalAnimation 1s forwards;
  position: fixed;
  max-width: 600px;
  max-height: 700px;
  z-index: 1000;
  border: 2px solid white;
  padding: 40px;
  background-color: rgb(12, 9, 6);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movie-details h3 {
  font-size: 12px;
  padding: 0px;
  margin: 5;
}

.modal-overlay2 {
  display: flex;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(1, 0, 0, 0.4); /* Black w/ opacity */
}

@keyframes modalAnimation {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

footer h4 {
  color: black;
  margin-right: 10px;
  font-size: large;
  font-family: "Brush Script MT", cursive;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  float: bottom;
  background-color: #fcf7f7;
}

.body-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 100%;
}

.sidebar {
  top: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(30, 33, 41);
  width: 6%;
}

.sidebar-right {
  background-color: rgb(30, 33, 41);
  width: 6%;
}

#non-searchbar {
  width: 100%;
}

.sidebar p {
  color: white;
  font-size: 10px;
  font-weight: 1000;
}

#favorite {
  color: gold;
  padding-inline: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
}

#home1 {
  font-size: 25px;
  padding-inline: 8px;
}

#watched {
  color: #1fd61f;
  font-size: 20px;
  padding-inline: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
}

#favorite-text {
  background: linear-gradient(to bottom, #cfc09f 27%, #ffecb3 40%, #675228 78%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 400;
}

#watched-text {
  background: linear-gradient(to bottom, #9fcfb1 27%, #ffecb3 40%, #28673e 78%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 400;
}

button {
  margin: 5px;
}

@media (max-width: 600px) {
  .movie-card {
    transform: scale(0.5);
  }

  .search-bar {
    flex-direction: column;
    gap: 10px;
    transform: scale(0.5);
  }

  .search-bar form {
    flex-direction: column;
    transform: scale(0.5);
  }
  button {
    transform: scale(0.7);
  }
}
